.pikachu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 12px;
}

.arrow {

    font-size: 24px;
    margin-bottom: 4px;
    animation: bounce 1s infinite;
    color: #fdbb2a; 
    font-weight: bold;
}

@keyframes bounce {
    0%, 100% {transform: translateY(0); }
    50% {transform: translateY(8px); }
  } 

#pikachuindex {
    bottom: 0;
    left: 0;

    transition: transform 0.3s ease;
    transform-origin: center;
    display: block;
}

#pikachuindex:hover {
    transform: scale(1.15);
}

h2 {
    margin-top: 100px;
    padding: 10px 16px;
    border-radius: 8px;

    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 45px;
    font-family: "rixvideogame-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #ffd700;
    -webkit-text-stroke: 2px #0066cc;
}

html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

